#!/usr/bin/env python
PACKAGE='micropython_logger'
import roslib; roslib.load_manifest(PACKAGE)
from dynamic_reconfigure.parameter_generator import *

gen = ParameterGenerator()

# Add parameters
# gen.add("int_param", int_t, 0, "An integer parameter", 50, 0, 100)
gen.add("enable_Controller", bool_t, 0, "Enable FB controller", False)
gen.add("enable_FF", bool_t, 0, "Use FF forces", False)


gen.add("tau_int_des", double_t, 0, "Desired int torque profile", 0.0, -5.0, 5.0)
gen.add("P_fb", double_t, 1, "Prop PID param", 0.5, 0.0, 1.5)
gen.add("I_fb", double_t, 2, "Integral", 0.00, 0.0, 0.1)
gen.add("D_fb", double_t, 3, "Derivative", 0.02, 0.0, 0.1)
gen.add("alpha_test", double_t, 4, "rescaling factor for test, closer to zero lower torque", 0.0, 0.0, 1.0)

gen.add("filter_loadcell", double_t, 4, "Load cell filtering closer to 0 the more filtered the signal", 0.2, 0.0, 1.0)

exit(gen.generate(PACKAGE, "micropython_logger", "GuiFBTransp"))