#!/usr/bin/env python
PACKAGE='micropython_logger'
import roslib; roslib.load_manifest(PACKAGE)
from dynamic_reconfigure.parameter_generator import *

gen = ParameterGenerator()

# Add parameters
# gen.add("int_param", int_t, 0, "An integer parameter", 50, 0, 100)
gen.add("enable_FF", bool_t, 0, "Enable FF controller", False)
gen.add("robot_state_Swing", bool_t, 1, "True is default and it is the swing", True)


gen.add("mass_thigh", double_t, 0, "A double parameter representing the thigh mass", 0.2, 0.0, 10.0) # this can be used to compensate user weight
gen.add("mass_shank", double_t, 1, "A double parameter representing the shank mass", 3.0, 0.0, 5.0)

gen.add("l_com_thigh", double_t, 2, "A double parameter representing the com pos", 0.1, 0.1, 0.75)
gen.add("l_com_shank", double_t, 3, "A double parameter representing the com pos", 0.15, 0.1, 0.75)

gen.add("k_spring", double_t, 4, "A double parameter representing the spring stiffness", 0.0124, 0.0, 0.1)
gen.add("eq_angle", double_t, 5, "A double parameter representing the eq angle", -29.85, -30, 10.0)
gen.add("b", double_t, 6, "A double parameter representing the viscousity coeff", 0.02, 0.0, 0.1)
gen.add("v_th", double_t, 7, "A double parameter representing the v_th ", 3.0, 1.0, 5.0)
gen.add("stic", double_t, 8, "A double parameter representing the stic", 0.003, -0.005, 0.005)
gen.add("coul", double_t, 9, "A double parameter representing the coul", 0.25, -0.25, 0.5)

gen.add("I_thigh", double_t, 10, "A double parameter representing the Inertia", 0.002, 0.0, 0.005)
gen.add("I_shank", double_t, 11, "A double parameter representing the Inertia", 0.002, 0.0, 0.005)


exit(gen.generate(PACKAGE, "micropython_logger", "GuiFFCal"))