#!/usr/bin/env python
PACKAGE='micropython_logger'
import roslib; roslib.load_manifest(PACKAGE)
from dynamic_reconfigure.parameter_generator import *

gen = ParameterGenerator()

# Add parameters
# gen.add("int_param", int_t, 0, "An integer parameter", 50, 0, 100)

enableParams = gen.add_group("A_Enable_controller")
enableParams.add("enable_controller", bool_t, 0, "Enable controller", False)
enableParams.add("use_FF", bool_t, 0, "Use FF forces", False)

freqParams = gen.add_group("B_Freq_Oscillator")
freqParams.add("use_Energy_var_freq", bool_t, 0, "Use Energy to modulate freq", False)
freqParams.add("freq_value", double_t, 0, "A double parameter representing freq adaptive oscillator", 0.25, 0.1, 0.5)

ampParams = gen.add_group("C_Amplitude_Oscillator")
ampParams.add("min_angle", double_t, 0, "Lower bound of the oscillation", -50.0, -90, 80) # Now there is also a stance phase in which the motion stay still
ampParams.add("max_angle", double_t, 0, "Upper bound of the oscillation", 60.0, 10, 90)

llParams = gen.add_group("D_LowLevel_Params")
llParams.add("K_stiffness", double_t, 0, "A double parameter representing stiffness controller", 2.0, 0.0, 3.0)
llParams.add("B_damping", double_t, 0, "A double parameter representing damping controller", 0.1, 0.0, 0.5)

energyIntParms = gen.add_group("E_EnergyIntegrator")
# gen.add("alpha_tau_ext", double_t, 0, "Interpol Factor between residual and torque from loadcell", 0.00, 0.0, 1.0)
energyIntParms.add("lb", double_t, 0, "Hysteresis lower bound", -2.0, -10, 0)
energyIntParms.add("ub", double_t, 0, "Hysteresis upper bound", 3, 0.0, 10)
energyIntParms.add("K_1", double_t, 0, "Residual work scaling factor 1", 0.3, 0.01, 1.0)
energyIntParms.add("K_2", double_t, 0, "Residual work scaling factor 2", 200, 150, 250)
energyIntParms.add("forget_factor", double_t, 0, "Forget factor res work: closer to 1 the more it is remember from the past", 0.99, 0.1, 1.0)

loadcellParams = gen.add_group("F_LoadCell_Params")
# gen.add("My_offset", double_t, 0, "Forget factor res work", 0.6, -3.0, 3.0)
# gen.add("ratio_jlc", double_t, 0, "Rescaling from loadcell-momentum to motor-torque", 2, 0, 5)
loadcellParams.add("filt_loadcell", double_t, 0, "Load cell filtering closer to 0 the more filtered the signal", 0.2, 0.0, 1.0)
loadcellParams.add("mass_foot", double_t, 0, "mass of the foot attached to the loadcell", 1.0, 0.0, 2.0)
loadcellParams.add("l_foot", double_t, 0, "distance from the loadcell and the weight", 0.15, 0.0, 0.5)


exit(gen.generate(PACKAGE, "micropython_logger", "GuiOscillatorForce"))