#!/usr/bin/env python
PACKAGE='micropython_logger'
import roslib; roslib.load_manifest(PACKAGE)
from dynamic_reconfigure.parameter_generator import *

gen = ParameterGenerator()

# Add parameters
# gen.add("int_param", int_t, 0, "An integer parameter", 50, 0, 100)

enableParams = gen.add_group("A_Enable_controller")
enableParams.add("enable_controller", bool_t, 0, "Enable controller", False)
enableParams.add("use_FF", bool_t, 0, "Use FF forces", False)

freqParams = gen.add_group("B_Freq_Oscillator")
freqParams.add("enable_AFO", bool_t, 0, "Enable Adaptive freq oscillator", False)
freqParams.add("freq", double_t, 0, "A double parameter representing freq (not used if AFO is active)", 0.25, 0.1, 0.5)
# freqParams.add("amplitude", double_t, 0, "A double parameter representing amplitude (not used if AFO is active)", 10, 5, 20)
freqParams.add("offset", double_t, 0, "A double parameter representing offset", 20, 5, 80)

llParams = gen.add_group("C_LowLevel_Params")
llParams.add("K_stiffness", double_t, 0, "A double parameter representing stiffness controller", 1.0, 0.0, 3.0)
llParams.add("B_damping", double_t, 0, "A double parameter representing damping controller", 0.1, 0.0, 0.5)

OscPosParams = gen.add_group("D_AdaptOscPos_Params")
OscPosParams.add("K_freq", double_t, 0, "A double parameter representing gain freq adapt osc", 0.0, 0.0, 0.5)
OscPosParams.add("K_phase", double_t, 0, "A double parameter representing gain phase adapt osc", 0.0, 0.0, 0.1)
OscPosParams.add("K_amp", double_t, 0, "A double parameter representing gain ampl adapt osc", 0.0, 0.0, 0.1)

exit(gen.generate(PACKAGE, "micropython_logger", "GuiOscillatorPos"))