#!/usr/bin/env python
PACKAGE='micropython_logger'
import roslib; roslib.load_manifest(PACKAGE)
from dynamic_reconfigure.parameter_generator import *

gen = ParameterGenerator()

# Add parameters
# gen.add("int_param", int_t, 0, "An integer parameter", 50, 0, 100)

enableParams = gen.add_group("A_Enable_controller")
enableParams.add("enable_controller", bool_t, 0, "Enable controller", False)


stanceParams = gen.add_group("B_Stance_State_Params")
stanceParams.add("stance_q_eq", double_t, 0, "equilibrium angle", 0.0, 0.0, 90.0)
stanceParams.add("stance_q_dot_eq", double_t, 0, "equilibrium velocity", 0.0, 0.0, 2.0)
stanceParams.add("stance_dt", double_t, 0, "time to go", 1.0, 0.0, 1.0)
stanceParams.add("stance_K", double_t, 0, "Stance Stiffness ", 0.1, 0.0, 3.0)
stanceParams.add("stance_B", double_t, 0, "time to go", 0.01, 0.0, 0.3)

earlySwingParams = gen.add_group("C_Early_Swing_Params")
earlySwingParams.add("earlySwing_q_eq", double_t, 0, "equilibrium angle", 50.0, 0.0, 90.0)
earlySwingParams.add("earlySwing_q_dot_eq", double_t, 0, "equilibrium velocity", 0.0, 0.0, 2.0)
earlySwingParams.add("earlySwing_dt", double_t, 0, "time to go", 2.0, 0.0, 2.0)
earlySwingParams.add("earlySwing_K", double_t, 0, "Early swing Stiffness", 0.1, 0.0, 3.0)
earlySwingParams.add("earlySwing_B", double_t, 0, "Early Swing Damping", 0.01, 0.0, 0.3)

lateSwingParams = gen.add_group("D_Late_Swing_Params")
lateSwingParams.add("lateSwing_q_eq", double_t, 0, "equilibrium angle", 0.0, 0.0, 90.0)
lateSwingParams.add("lateSwing_q_dot_eq", double_t, 0, "equilibrium velocity", 0.0, 0.0, 2.0)
lateSwingParams.add("lateSwing_dt", double_t, 0, "time to go", 2.0, 0.0, 2.0)
lateSwingParams.add("lateSwing_K", double_t, 0, "Late Swing Stiffnes", 0.1, 0.0, 3.0)
lateSwingParams.add("lateSwing_B", double_t, 0, "Late Swing Damping", 0.01, 0.0, 0.3)

treshParams = gen.add_group("E_Tresh_Params")
treshParams.add("vel_tresh", double_t, 0, "vel tresh", 10.0, 5.0, 30.0)
treshParams.add("Fz_tresh", double_t, 0, "Fz tresh", 10.0, 5.0, 50.0)


exit(gen.generate(PACKAGE, "micropython_logger", "GuiSMWalking"))