#!/usr/bin/env python
PACKAGE='micropython_logger'
import roslib; roslib.load_manifest(PACKAGE)
from dynamic_reconfigure.parameter_generator import *

gen = ParameterGenerator()

# Add parameters
# gen.add("int_param", int_t, 0, "An integer parameter", 50, 0, 100)

enableParams = gen.add_group("A_Enable_controller")
enableParams.add("enable_controller", bool_t, 0, "Enable controller", False)


ampParams = gen.add_group("B_Params")
ampParams.add("eq_angle", double_t, 2, "A double parameter representing pos", 0.0, 0.0, 80.0)
ampParams.add("eq_vel", double_t, 2, "A double parameter representing vel", 0.0, 0.0, 1.0)

ampParams.add("K_stiffness", double_t, 2, "A double parameter representing stiffness controller", 0.5, 0.0, 2.0)
ampParams.add("B_damping", double_t, 3, "A double parameter representing damping controller", 0.1, 0.0, 0.2)

ampParams.add("dt", double_t, 2, "A double parameter representing dt", 1.0, 0.02, 2.0)

exit(gen.generate(PACKAGE, "micropython_logger", "GuiTeleop"))